core/exercises/xml/customXmlDefn.dtd

<!ATTLIST exercise topic CDATA #REQUIRED>
<!ATTLIST exercise name CDATA #REQUIRED>

<!ELEMENT custom (exercise*)>
<!ELEMENT exercise (variation)>

<!ELEMENT variation (shortName, longName, height?, question?, qnParam?, ending*)>
<!ELEMENT shortName (#PCDATA)>
<!ELEMENT longName (#PCDATA)>
<!ELEMENT height (#PCDATA)>
<!ELEMENT question (#PCDATA)>
<!ELEMENT qnParam (#PCDATA)>
<!ELEMENT ending (#PCDATA)>